<h2>Day 2</h2>
<div class="row">
  <div class="col s6">
    <img src="img/2/day2_1.jpg" alt="" />
  </div>
  <div class="col s6">
    <img src="img/2/day2_3.jpg" alt="" />
  </div>
  <div class="col s12">
    <img src="img/2/day2_2.jpg" alt="" />
  </div>
</div>
