<h2>Day 5</h2>
<div class="row">
  <div class="col s12">
  <center>  <img src="img/5/day5_3.jpg" alt="" /></center>
  </div>
  <div class="col s6">
    <img src="img/5/day5_1.jpg" alt="" />
  </div>
  <div class="col s6">
    <img src="img/5/day5_2.jpg" alt="" />
  </div>
</div>
