<h2>Day 6, and 1000 miles to go</h2>
<div class="row">
  <div class="col s12">
    <img src="img/6/1000_to_GA.jpeg" alt="" />
  </div>
  <div class="col s6">
    <img src="img/6/day3_2.jpeg" alt="" />
  </div>
  <div class="col s6">
    <img src="img/6/day3_3.jpeg" alt="" />
  </div>

</div>
