<h2>The First Day</h2>
<div class="row">
  <div class="col s12">
    <img src="img/5/day5_3.jpeg" alt="" />
  </div>
  <div class="col s6">
    <img src="img/5/day5_1.jpeg" alt="" />
  </div>
  <div class="col s6">
    <img src="img/5/day5_2.jpeg" alt="" />
  </div>
</div>
