<h2>Day 4</h2>
<div class="row">
  <div class="col s6">
    <img src="img/4/day4_3.jpg" alt="" />
  </div>
  <div class="col s6">
    <img src="img/4/day4_2.jpg" alt="" />
  </div>
  <div class="col s6">
    <img src="img/4/day4_1.jpg" alt="" />
  </div>
  <div class="col s6">
    <img src="img/4/cranepicture/crane.jpg" alt="" />
  </div>
</div>
